.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
!dist/**
node_modules/**
*.vsix
README.md
repomix-output.xml
out/**
.next/**
.nuxt/**
.output/**
.cache/**
.turbo/**
build/**
public/**
.editorconfig
CONTRIBUTING.md